{%extends 'index.html'%}
{% load static %}
{% block content %}

<div class="content-wrapper">
<div class="col-12 grid-margin">
    <div class="card" >
      <div class="card-body">
        <div class="row">
        <div class="col-8 col-md-10 mt-3">
     <h4 class="card-description"> Personal Information </h4>
     </div>
     <div class="col-4 col-md-2">
     <img src="{% static 'assets/images/faces/face10.jpg' %}" class="img-fluid rounded-circle mb-3 " alt="image"  style="margin-right:20px">
        </div>
        </div>
        
        <form class="form-sample">
          <p class="card-description"> Personal details </p>
          
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Adolf </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Hitler</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Male</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date of Birth</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">20 April 1889</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Trainee</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Current Trainer Name</label>
                  <div class="col-sm-9">
                      <label class="col-sm-3 col-form-label">Mariya</label>
                  </div>
                </div>
              </div>
            </div>
            
            {% comment %} <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Membership</label>
                <div class="col-sm-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked> Free </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2"> Professional </label>
                  </div>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
          <br><br>
          <p class="card-description"> Address </p><br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address 1</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Braunau am Inn </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">State</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Austria</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address 2</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Führerbunker</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Postcode</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">685347</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">City</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Berlin</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Country</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Germany</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


    <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title"> Chart </h3>
                        
                    </div>
                    <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Bar chart</h4>
                            <canvas id="barChart" style="height:230px"></canvas>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Pie chart</h4>
                            <canvas id="pieChart" style="height:250px"></canvas>
                        </div>
                        </div>
                    </div>
                    </div>
    </div>


    <div class="content-wrapper">
        {% comment %} <div class="page-header">
          <h3 class="page-title"> Typography </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
              <li class="breadcrumb-item active" aria-current="page">Typography</li>
            </ol>
          </nav>
        </div> {% endcomment %}
    
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
    
            <div class="card" style="height:280px;">
            <a href="prass" style="text-decoration:none;">
              <div class="card-body">
                <h1 class="card-title" style="margin-top:60px;">Attendance &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <i class="mdi mdi-account-check text-success text-success" style="font-size:70px;  "></i></h1>
              </div>
            </a>
            </div>
            
        </div>
    
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card" style="height:280px;">
                <a href="prass" style="text-decoration:none;">
                <div class="card-body">
                  <h1 class="card-title" style="margin-top:50px;">Task &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <i class="mdi mdi-pencil-box-outline text-warning" style="font-size:70px;  "></i></h1>
                </div>
                </a>
              </div>
                
            </div>

        </div>
  
    
    
      
  <!-- content-wrapper ends -->
 
  <!-- partial -->
</div>


<!-- main-panel ends -->
</div>


<!-- page-body-wrapper ends -->
</div>



<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static '/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static '/assets/vendors/chart.js/Chart.min.js' %}"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static '/assets/js/off-canvas.js' %}"></script>
<script src="{% static '/assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static '/assets/js/misc.js' %}"></script>
<script src="{% static '/assets/js/settings.js' %}"></script>
<script src="{% static '/assets/js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{% static '/assets/js/chart.js' %}"></script>


<!-- End custom js for this page -->
<!-- Code injected by live-server -->
<script type="text/javascript">
// <![CDATA[  <-- For SVG support
if ('WebSocket' in window) {
(function () {
    function refreshCSS() {
        var sheets = [].slice.call(document.getElementsByTagName("link"));
        var head = document.getElementsByTagName("head")[0];
        for (var i = 0; i < sheets.length; ++i) {
            var elem = sheets[i];
            var parent = elem.parentElement || head;
            parent.removeChild(elem);
            var rel = elem.rel;
            if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
            }
            parent.appendChild(elem);
        }
    }
    var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
    var address = protocol + window.location.host + window.location.pathname + '/ws';
    var socket = new WebSocket(address);
    socket.onmessage = function (msg) {
        if (msg.data == 'reload') window.location.reload();
        else if (msg.data == 'refreshcss') refreshCSS();
    };
    if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
        console.log('Live reload enabled.');
        sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
    }
})();
}
else {
console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
}
// ]]>
</script>


{% endblock %}

