{%extends 'index.html'%}
{% load static %}
{% block content %}


<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
        <div class="row" >
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h4>Assigned Task</h4>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <form>
              <div class="input-group input-group-sm mb-3">
                <input
                  type="text"
                  class="form-control text-white  "
                  placeholder="Search . . ."
                  style="border: green;"
                />
                <div class="input-group-append">
                  <span class="input-group-text bg-success"
                    ><i
                      class="fas fa-search text-light"
                      style="font-size: 18px"
                    ></i
                  ></span>
                </div>
              </div>
            </form>
          </div>
        </div>
          
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  
                  <th> Task Name </th>
                  <th> Topic </th>                  
                  <th> Start Date </th>
                  <th> End Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  
                  <td> Henry Klein </td>                  
                  <td> Dashboard </td>
                  <td> 08 Dec 2020</td>
                  <td> 20 Dec 2020 </td>
                  
                </tr>
                <tr>
                  
                    <td> Henry Klein </td>                  
                    <td> Dashboard </td>
                    <td> 08 Dec 2020</td>
                    <td> 20 Dec 2020 </td>
                    
                  </tr>
                  <tr>
                  
                    <td> Henry Klein </td>                  
                    <td> Dashboard </td>
                    <td> 08 Dec 2020</td>
                    <td> 20 Dec 2020 </td>
                    
                  </tr>
                  <tr>
                  
                    <td> Henry Klein </td>                  
                    <td> Dashboard </td>
                    <td> 08 Dec 2020</td>
                    <td> 20 Dec 2020 </td>
                    
                  </tr>
                  
                  
                    <td> Henry Klein </td>                  
                    <td> Dashboard </td>
                    <td> 08 Dec 2020</td>
                    <td> 20 Dec 2020 </td>
                    
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  



{%endblock%}