{%extends 'index.html'%}
{% load static %}
{% block content %}


<div class="col-12 grid-margin">
    <div class="card" >
      <div class="card-body">
        <div class="row">
        <div class="col-8 col-md-10 mt-3">
     <h4 class="card-description"> Personal Information </h4>
     </div>
     <div class="col-4 col-md-2">
     <img src="{% static 'assets/images/faces/face5.jpg' %}" class="img-fluid rounded-circle mb-3 " alt="image"  style="margin-right:20px">
        </div>
        </div>
        
        <form class="form-sample">
          <p class="card-description"> Personal details </p>
          
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Adolf </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Hitler</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Male</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date of Birth</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">20 April 1889</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Trainee</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Trainer Name</label>
                  <div class="col-sm-9">
                      <label class="col-sm-3 col-form-label">Amala</label>
                  </div>
                </div>
              </div>
            </div>
            
          <br><br>
          <p class="card-description"> Address </p><br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address 1</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Braunau am Inn </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">State</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Austria</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address 2</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Führerbunker</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Postcode</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">685347</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">City</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Berlin</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Country</label>
                <div class="col-sm-9">
                    <label class="col-sm-3 col-form-label">Germany</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


    <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title"> Chart </h3>
                        
                    </div>
                    <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Pie chart</h4>
                            <canvas id="pieChart" style="height:230px"></canvas>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Bar chart</h4>
                            <canvas id="barChart"  style="height:250px"></canvas>
                        </div>
                        </div>
                    </div>
                    </div>
    </div>


    <div class="content-wrapper">
        
    
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
    
            <div class="card" style="height:280px;">
            <a href="Attendance" style="text-decoration:none;">
              <div class="card-body">
                <h1 class="card-title" style="margin-top:60px;">Attendance &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <i class="mdi mdi-account-check  text-success" style="font-size:70px;  "></i></h1>
              </div>
            </a>
            </div>
            
        </div>
    
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card" style="height:280px;">
                <a href="task1" style="text-decoration:none;">
                <div class="card-body">
                  <h1 class="card-title" style="margin-top:50px;">Task &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <i class="mdi mdi-pencil-box-outline text-warning" style="font-size:70px;  "></i></h1>
                </div>
                </a>
              </div>
                
            </div>

        </div>
  
    
    
      
  <!-- content-wrapper ends -->
 
  <!-- partial -->
</div>


<!-- main-panel ends -->
</div>









{% endblock %}

